#o{
    background-color: black;
    width: 500px;
    height: 400px;
}
#a{
    color: aliceblue;
}
#b{
    color: aliceblue;
}
#c{
    color: aliceblue;
}
#h{
    color: black;
}
#d{
    background-color: rgb(187, 27, 27);
    width: 150px;
    height: 30px;
}
.n{
    color: aliceblue;
}